.infocontainer{
    width: 100%;
    height: auto;
    align-self: auto;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    border: 5px solid #92a8d1;
    background-color: #b55660;
}



h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

li{
    font-weight: bold;
    color: #46023d;
}

.home-header {
  text-align: center;
}

.home-header h2 {
  color: #dc8564;
  font-size: 4rem;
}

.home-header h1 {
  font-size: 3rem;
  color: #b55660;
  margin-bottom: 1rem;
}

a, a.socialLinks:hover, a.socialLinks:visited, a.socialLinks:active {
  color: #bcacd4;
  text-decoration: underline;
 }
