.GameStats{
  font-size: 1.5em;
  border-radius: 20px;
  list-style-type: none;
  padding-top: 1em;
  color: #885ca4;
}

.value{
  color:white;
  padding: 5px 0px;
}

.GameStatsBox {
  position: absolute;
  bottom: 6vw;
  left: 53vw;
  border-radius: 10px;
  font-family: PublicPixel;
  width: 25vw;
  height: 12vw;
}
  
@media (max-width: 1354px) {
  .GameStatsBox{
    width: 30vw;
    height: 6vw;
    bottom: 10vw;
    left: 60vw;
  }

  .GameStats{
    font-size: 1em;
  }
}

@media (max-width: 744px){
  .GameStatsBox{
    width: 25vw;
    height: 6vw;
    bottom: 10vw;
    left: 60vw;
  }

  .GameStats{
    font-size: .4em
  }
}